<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <connectionStrings>
        <add name="IntruderAlertSystem.Properties.Settings.pdcConnectionString" connectionString="server=localhost;user id=pdc_user;persistsecurityinfo=True;database=pdc;password=NP3lySfT5WmOl80B" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>